html{
  text-align: center;
  background-color: #212a2e;
  color:#f7f8f8;
}

#iconPng{
  width:80px;
  margin:auto auto;
}

.werPart{
  border: 2px solid #999999;
  margin:20px;
  width:50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.oneItem{
  display: inline;
  padding: 0px 5px;
}

.App{
  font-family:'Poppins','Merriweather', Arial, sans-serif;
}

button{
  font-family:'Poppins','Merriweather', Arial, sans-serif;
  margin: 3px;
  background-color: #212a2e;
  color: #ffffff;
  border: 1px solid #828fff;
  border-radius: 3px;
}

button:hover {
  background-color: #515b62;
  color: #ffffff;
  text-decoration: underline;
}

a{
  color:#78d7ff;
}

.item{
  padding-bottom: 3px;
}